/* You can add global styles to this file, and also import other style files */
/* Reset básico */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variables globales */

:root {
  --primary-color: #ff6ec7;
  --secondary-color: #7873f5;
  --text-light: #ffffff;
  --background-dark: #0f172a;
}

/* Documento */

html,
body {
  width: 100%;
  height: 100%;

  overflow-x: hidden;
  overflow-y: auto;

  margin: 0;
  padding: 0;

  font-family:
    'Poppins',
    sans-serif;

  background: var(--background-dark);

  color: var(--text-light);

  scroll-behavior: smooth;
}

/* Angular */

app-root {
  display: block;
  width: 100%;
  height: 100%;
}

/* Botones */

button {
  font-family: inherit;
}

/* Imágenes */

img {
  display: block;
  max-width: 100%;
}

body {
  background: linear-gradient(
    -45deg,
    #ff6ec7,
    #7873f5,
    #4facfe,
    #00f2fe
  );

  background-size: 400% 400%;

  animation: gradientMove 15s ease infinite;
}

@keyframes gradientMove {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}